@use '../abstract' as *;

.order__summary {
    .btn__payment {
        @extend %btn__normal;
        background-color: $bright-blue;
        color: white;

        &:hover {
            box-shadow: none;
            opacity: .8;
        }
    }

    .btn__cancel {
        @extend %btn__normal;
        box-shadow: none;

        &:hover {
            color: $bright-blue;
            border: 2px solid $bright-blue;
        }
    }
}