@use '../abstract/colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

h3,
p,
a {
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    color: $desaturated-blue;
    font-size: .9rem;
}

a {
    text-decoration: none;
    font-weight: 700;
    font-size: .9rem;
}

.order__summary {
    .order__content {
        h3 {
            font-size: 1.4rem;
            font-weight: 900;
            padding-bottom: 1em;
            color: $dark-blue;
        }

        p {
            width: 18.787rem;
            margin: auto;
            line-height: 1.5;
            padding-bottom: 1.5em;
        }
    }

    .order__price {
        .period {
            font-weight: 700;
            color: $dark-blue;
        }
    }
}